<form action="/examples/actions/confirmation.php" method="post">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"
            aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" required="required" #name>
    </div>
    <div class="form-group">
      <div class="clearfix">
        <label>Password</label>
      </div>

      <input type="password" class="form-control" required="required" #password>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text">
      <label *ngIf="message === 'Úspešne prihlásený'" class="form-check-label alert-success">{{message}}</label>
      <label *ngIf="message === 'Nesprávne heslo'" class="form-check-label alert-danger">{{message}}</label>
    </div>
    <input type="submit" class="btn btn-primary" value="Login" (click)="login(name.value, password.value)">
  </div>
</form>
