<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="assets/logo.png" alt="logo">
  </a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link" >Domov</a>
      </li>
      <li class="nav-item">
        <a routerLink="/facts" class="nav-link" >Zaujímavosti</a>
      </li>
      <li class="nav-item">
        <a routerLink="/posts" class="nav-link" > Príspevky</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link" >Kontakt</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown #myDrop="ngbDropdown">
        <a class="nav-link" id="dropdownManual" ngbDropdownAnchor (click)="myDrop.open()">Obrázky</a>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <a routerLink="/pictures/milkyWay" ngbDropdownItem>Mliečna cesta</a>
          <a routerLink="/pictures/solarSystem" ngbDropdownItem>Slnečná sústava</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="login()" *ngIf="!loginService.adminIsLogged" class="nav-link" >Login</a>
          <a (click)="logout()" *ngIf="loginService.adminIsLogged" class="nav-link" >Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"></a>
        </li>
      </ul>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
