<ngb-carousel [animation]="true" *ngIf="images">
  <ng-template *ngFor="let image of images" ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="Random slide">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>
