<div *ngFor="let post of posts" class="container">
  <h1 *ngIf="editingId!==post.id">{{post.title}}</h1>
  <textarea *ngIf="editingId===post.id" [(ngModel)]="editingTitle" class="form-control"
            rows="1"></textarea>
  <p *ngIf="editingId!==post.id">{{post.content}}</p>
  <textarea *ngIf="editingId===post.id" [(ngModel)]="editingContent" class="form-control"
            rows="5"></textarea>
  <p>{{post.author}}
    <button *ngIf="editingId===post.id" (click)="edit(post.id, editingContent, editingTitle)" class="btn btn-dark btn-sm edit">Save</button>
    <button *ngIf="editingId!==post.id && loginService.adminIsLogged" (click)="startEdit(post.id)" class="btn btn-dark btn-sm edit">Edit</button>
    <button *ngIf="editingId!==post.id && loginService.adminIsLogged" (click)="remove(post.id)" class="btn btn-dark btn-sm remove">Remove</button>
  </p>
</div>

<div class="container">
  <div>
    <div class="form-group">
      <label for="title">Nadpis:</label>
      <input [(ngModel)]="input.title" type="text" class="form-control"
             placeholder="Zadajte nadpis" id="title">
      <div [hidden]="input.title"
           class="alert alert-danger">
        Nadpis je vyžadovaný!
      </div>
    </div>
    <div class="form-group">
      <label for="content">Obsah:</label>
      <textarea [(ngModel)]="input.content" class="form-control" placeholder="Zadajte obsah" id="content" rows="5"></textarea>
      <div [hidden]="input.content"
           class="alert alert-danger">
        Obsah je vyžadovaný!
      </div>
    </div>
    <div class="form-group">
      <label for="author">Autor:</label>
      <input [(ngModel)]="input.author" type="text" class="form-control" placeholder="Zadajte autora" id="author">
      <div [hidden]="input.author"
           class="alert alert-danger">
        Autor je vyžadovaný!
      </div>
    </div>
    <button (click)="add()" class="btn btn-primary">Submit</button>
  </div>
</div>
