.main {
  background:
    -moz-radial-gradient(white 2%, transparent 12%),
    -moz-radial-gradient(white 2%, transparent 12%),
    black;
  background:
    -webkit-radial-gradient(white 2%, transparent 12%),
    -webkit-radial-gradient(white 2%, transparent 12%),
    black;
  background-position: 0 0, 60px 60px;

  -webkit-background-size:120px 120px;
  -moz-background-size:120px 120px;
  background-size:120px 120px;
}

.col-md-12 {
  text-align: center;
}

.spaceBar {
  height: 50px;
  width: 50px;
}

.row {
  color: wheat;
  background-color: black;
}

.remove {
  margin-top: 10px;
}

.revert {
  margin-bottom: 10px;
}

img {
  width: 700px;
  height: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
