<div class="main" >
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let fact of facts">
        <div *ngIf="deletedFacts && !(deletedFacts.includes(fact.id))" class="col-md-12">
          <h2>{{fact.title}}</h2>
          {{fact.text}}
          <img src="assets/{{fact.fileName}}" alt="sagi">
          <button *ngIf="loginService.adminIsLogged" (click)="removeFact(fact.id)" class="btn btn-dark btn-sm remove">Remove</button>
          <div class="spaceBar"></div>
        </div>
      </ng-container>
      <button *ngIf="loginService.adminIsLogged" (click)="revertChanges()" class="btn btn-dark btn-sm revert">Revert Changes</button>
    </div>
  </div>
</div>

