h1 {
  color: #6debff;
  font-family: "Freestyle Script" ;
  font-size: 90px;
  text-align: center;
  position: absolute;
  top: 71px;
  z-index: 999;
  left: calc(50% - 342px);
  /*transform: translate(-50%, -50%);*/
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  h1 {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  h1 {
    flex: 100%;
    max-width: 100%;
  }
}
