<div class="main">
  <div class="row">
    <ng-container *ngFor="let iterName of pictureNames; index as i">
      <div *ngIf="i%3 == 0" class="column">
        <img [src]="'assets/' + iterName + '.png'">
        <img *ngIf="pictureNames[i+1]" [src]="'assets/' + pictureNames[i+1] + '.png'">
        <img *ngIf="pictureNames[i+2]" [src]="'assets/' + pictureNames[i+2] + '.png'">
      </div>
    </ng-container>
  </div>
</div>
